.portal {
    &-map {
        flex: 1;
    }
    &-con {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        flex: 1;
        position: relative;
    }
    &-search {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        @include AmbientShadow();
        border-radius: 15px;
        width: 300px;
        height: 90%;
        position: absolute;
        left: 50px;
        max-height: 90%;
        top: 5%;
        overflow-y: hidden;
        z-index: 5;
        &__header {
            box-sizing: border-box;
            padding: 25px 10px 15px;
            display: flex;
            margin: 0px 20px;
            font-weight: 600;
            border-bottom: 1px solid #000;
            font-size: 20px;
            justify-content: space-between;
        }
        &__body {
            flex: 1;
            height: calc(100% - 65px - 58px);
            overflow-y: auto;
            padding: 0 15px;
            &::-webkit-scrollbar-track {
                background-color: #f5f5f5;
            }
            &::-webkit-scrollbar {
                width: 5px;
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #000000;
                border: 2px solid #555555;
            }
        }
        &__footer {
            box-sizing: border-box;
            padding: 15px 10px 15px;
            display: flex;
            margin: 0px 20px;
            font-weight: 500;
            border-top: 1px solid #000;
            justify-content: space-between;
            position: relative;
            background-color: #fff;
            z-index: 100;
        }
        &__issue {
            display: flex;
            flex-direction: column;
            padding: 12px;
            & > div:first-child {
                line-height: 1;
                margin-bottom: 5px;
                vertical-align: middle;
                display: flex;
                letter-spacing: 0.25px;
                align-items: baseline;
                & > span:not(:last-child) {
                    margin-right: 4px;
                }
                & > span:first-child {
                    font-weight: 600;
                    font-size: 18px;
                }
            }
            & > div:last-child {
                line-height: 1;
                font-size: 12px;
                margin-left: 5px;
                color: #888;
            }
        }
    }
    &-button {
        width: 140px;
        text-align: center;
        color: #fff;
        font-family: "Montserrat";
        padding: 7.5px;
        border-radius: 10px;
        position: absolute;
        bottom: 40px;
        right: 50px;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 20px;
        background-color: #ff5e5e;
        &.portal-cap {
            width: 200px;
            right: 220px;
        }
        &.portal-cancel {
            background-color: #555555;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
