//HEADER 
$blue: #9CB8CF;
$yellow: #FFEDCB;

.contact{
    &-h1 {
        position:relative;
        bottom:-22px;
        left: 15px;
        margin: 20px 0 ;
        margin-left: 10px;
        font-family: Open Sans;
        font-size: 32px;
        
    }
        &-search{
            position:relative;
            left: 380px;
            top: -33px ;
            height: 30px;
            width: 500px;
            background-color: #ffffff;
            padding: 4px;
        }
            &-label{
                position:relative;
                left:400px;
                top:-33px;
                font-family: Open Sans;
                font-size:larger;
            }
                &-field {
                    position:relative;
                    top:-33px;
                    left: 490px;
                    width: 150px;
                    height: 0px;
                    font-family: Open Sans;   
                    text-align: left;    
                }
}

// CONTENT TABLE
.content{
    border-collapse: collapse;
    position: relative;
    left: 0px;
    top:-5px;
    width: 1200px;
    margin: 10px 0;
    min-width: 400px;
    padding: 12 px 15px;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 1em;
    font-family:Open Sans;

    &-header tr {
        background-color: $blue;
        text-align: left;
        font-family:Open Sans;
        font-weight: 700;
        color:white;
    }
        th{
            padding: 25px 15px;
        }
            td {
                padding: 32px 15px;
            }
                td:nth-child(1)  {
                    font-weight:bold;
                }
                    &-body tr {
                        border-bottom: 1px solid #dddddd;
                    }
                        &-body tr:nth-child(even) {
                            background-color: $yellow;
                        }
}




