@mixin container() {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

$blue: #175689;
$accent: #dea01e;

/* Home Page ------------------------ */

.slogan {
    &-container {
        position: relative;
        width: 100%;
        background-image: url("../images/slogan.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
        & img {
            width: 100%;
            height: auto;
        }
    }
}

.main-slogan {
    color: white;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 24px;
    }
    @media (min-width: 992px) {
        font-size: 30px;
    }
    @media (min-width: 1200px) {
        font-size: 40px;
    }
}

.slogan-container .descr-slogan {
    color: white;
    position: absolute;
    bottom: 8px;
    top: 180px;
    left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.slogan-container .btn-login {
    background-color: $accent;
    color: white;
    font-size: 16px;
    font-family: "Montserrat";
    padding: 6px 50px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 90px;
    left: 50px;
}

.slogan-container .btn-login:hover {
    background-color: white;
    color: $accent;
}

.slogan-container .btn-signup {
    background-color: #9cb8cf;
    color: white;
    font-size: 16px;
    font-family: "Montserrat";
    padding: 6px 50px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 90px;
    right: 20px;
}

.slogan-container .btn-signup:hover {
    background-color: white;
    color: #9cb8cf;
}

.survey-text {
    color: black;
    font-size: 16px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
    font-weight: 100;
}

a {
    color: $accent;
}

.faq-title {
    text-align: center;
}

.faq {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    padding-bottom: 100px;
}

.faq-item {
    background-color: $blue;
    color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.faq-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    /*cursor: pointer;*/
}

/*
.faq-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.faq-item-header.active::after {
    content: "\2212";
}
*/

.faq-item-body {
    padding: 1rem;
    line-height: 1.5 rem;
    border-top: 3px solid white;
    overflow: hidden;
    height: 100px;
    transition: padding 0.6s, height 0.5s;
}

.faq-item-body.closed {
    padding: 0 1rem;
    height: 0;
}
.faq-item-body-content {
    font-weight: 10;
}
.footer-con {
    padding: 20px 0px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #9cb8cf;
    height: auto;
    width: 100vw;
    color: white;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    padding-bottom: 5px;
}
/* ---------------------------------- */
