@mixin container() {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

$blue: #175689;
$accent: #dea01e;

/* Home Page ------------------------ */


.slogan-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}


.slogan-container img {
    width: 290%;
    height: auto;
}


.slogan-container .main-slogan {    
    color: white;
    position: absolute;
    font-size: 50px;
    top: 100px;
    left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.slogan-container .descr-slogan {
    color: white;
    position: absolute;
    bottom: 8px;
    top: 180px;
    left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.slogan-container .btn-login {
    background-color: $accent;
    color: white;
    font-size: 16px;
    font-family: "Montserrat";
    padding: 6px 50px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 90px;
    left: 50px;
}

.slogan-container .btn-login:hover {
    background-color: white;
    color: $accent;
}

.slogan-container .btn-signup {
    background-color: #9CB8CF;
    color: white;
    font-size: 16px;
    font-family: "Montserrat";
    padding: 6px 50px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 90px;
    right: 20px;
}

.slogan-container .btn-signup:hover {
    background-color: white;
    color: #9CB8CF;
}

.survey-text {
    color: black;
    font-size: 16px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
    font-weight: 100;
}

a {
    color: $accent;
}

.faq-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.faq-container .faq-header{
    font-size: 200;
    white-space: nowrap;
}

/* ---------------------------------- */