* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
@import "general";

@import "wrapper";
@import "home/general";
@import "contact/index";
@import "dashboard/taf";
@import "dashboard/portal";
