* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "general";
@import "wrapper";
@import "home/general";
@import "contact/index";
@import "dashboard/taf";
@import "dashboard/portal";
@import "dashboard/rap";
