.pro {
    &-con {
        display: flex;
        flex: 1;
    }
    &-nav {
        background-color: rgb(248, 230, 190);
        flex: 1;

        & > h1 {
            text-align: center;
            margin: 20px;
        }
    }
    &-body {
        background-color: #fff;
        margin: 50px;

        flex: 2;
        & > * > h2 {
            font-size: 26px;
            margin-bottom: 6px !important;
        }
    }
    &-line {
        margin: 0px 0 10px;
    }

    &-sub {
        line-height: 1;
        font-size: 14px;
        color: #444;
        margin-bottom: 30px;
        display: flex;
        line-height: 1.2;
        align-items: center;
        & > .ui.green.button {
        }
        & > div {
            flex: 1;
            padding-right: 30px;
        }
    }

    &-del {
        line-height: 1;
        font-size: 12px;
        margin-left: 5px;
        color: #444;
        margin-bottom: 30px;
        & > .ui.red.button {
            width: 20%;
            margin-left: 80%;
            margin-right: 40px;
        }
    }

    &-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        & > button {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.profile-form {
    margin: 25px 0;
}
